<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="assets/download.png" 
    width="150" height="40" title="Home"
   alt="Home" class="ng-star-inserted">NGULAR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input type="text" placeholder="Search..">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">About</a>
    </div>
  </div>
</nav>

<div class="card text-white bg-dark mb-3">
  <div class="card-body" >
<div class="row">
  <div class="col-sm-6">
        <img src="assets/download.png" width="250px" >
      </div>

  <div class="col-sm-6">
   
    <h1>One Framework. <p>Mobile & Desktop</p></h1>
      <button pButton type="button" 
      label="Getting Started" class="ui-button-rounded ui-button-secondary" ></button>
      
  </div>
</div>
</div>
</div>
<router-outlet></router-outlet>